.App {
  text-align: center;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

img {
  width: 300px;
  margin: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
}

.formUpload {
  border: 2px solid black;
  border-radius: 6px;
  display: flex;
  width: 500px;
  padding: 20px;
}

@media only screen and (max-width: 1000px) {
  .header {
    flex-direction: column;
  }
  .formUpload {
    margin: 0 auto;
    flex-direction: column;
    width: 300px;
  }
}
