body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 30px;
  background: rgb(232, 57, 103);
  background: linear-gradient(
    90deg,
    rgba(232, 57, 103, 0.4822303921568627) 0%,
    rgba(215, 192, 201, 0.4374124649859944) 50%,
    rgba(232, 57, 103, 0.5662640056022409) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
